<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ENTER PASSCODE</h1>
    <p>Pls Enter Passcode To become A Member!</p>
    <form action="/passcode" method="POST">
        <label for="passcode">passcode:</label>
        <input type="number" name="passcode">
        <button type="submit">Submit</button>
    </form>
</body>
</html>